<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="AccordEnergie.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reem Kufi&family=Rubik&family=Varela Round&family=Jost:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <title>Affectation user</title>
</head>

<body style="background: url('https://wallpapers.com/images/hd/new-york-city-night-iphone-zfu8yaa5fw3vvk0z.jpg');">
  <div class="overlay">
      <header>
          <!--logo-->
          <div style="width: 180px; height: 180px; position: relative; border-radius: 30px;">
            <div class="blob" style="left: 95.57px; top: 85.65px;"></div><!-- milieu-->
            <div class="blob" style="left: 95.55px; top: 122.36px;"></div><!-- en bas-->
            <div class="blob" style="left: 127.98px; top: 85.65px;"></div><!-- a droite -->
            <div class="blob" style="left: 95.57px; top: 48.45px;"></div><!-- en haut-->
            <div class="blob" style="left: 62.90px; top: 84.62px;"></div><!-- a gauche -->
            <div class="blob" style="left: 112.11px; top: 67.39px;"></div><!-- en haut, a droite-->
            <div class="blob" style="left: 78.65px; top: 66.33px;"></div><!-- en haut, a gauche-->
            <div class="blob" style="left: 112.11px; top: 104.59px;"></div><!-- en bas, a droite-->
            <div class="blob" style="left: 78.65px; top: 104.59px;"></div><!-- en bas, a gauche-->
            <h class="vertical-center" style="left: 167px">ACCORD<br>ENERGIE</h>
            <div class="vertical-center separation"></div>
            <h class="vertical-center" style="left: 350px; color: lightgrey; font-size: 48px; font-family: Jost; font-weight: 500;">Affectation</h>
          </div>
      </header><br><br><br><br>

      <section style="padding: 50px;">
        <div class="blockEnregistrement4" style="left: 65px; top: 191px;">
          <p class="texteAjout" style="left: 121px; top: 235px;">Nom:</p>

          <p class="texteAjout" style="left: 783px; top: 235px;">Rôle actuel:</p>

          <p class="texteAjout" style="left: 121px; top: 302px;">Rôle:</p>
          <input type="text" id="role" name="role" class="blockEntree2_1" style="width: 763px; height: 42px; left: 190px; top: 294px;">
          <button class="bP" style="width: 348px; height: 42px; left: 982px; top: 295px;position:absolute; padding-left: 18px;">Modifier</button>
        </div>
      </section>
  </div>
</body>
</html>
