{% extends "base_auth.html.twig" %}
{% block title %}
<link rel="stylesheet" type="text/css" href="affectation.css">
<body style="background: url('https://wallpapers.com/images/hd/new-york-city-night-iphone-zfu8yaa5fw3vvk0z.jpg');">
  <div class="overlay">
      <header>
          <!--logo-->
          <div style="width: 180px; height: 180px; position: relative; border-radius: 30px;">
            <div class="blob" style="left: 95.57px; top: 85.65px;"></div><!-- milieu-->
            <div class="blob" style="left: 95.55px; top: 122.36px;"></div><!-- en bas-->
            <div class="blob" style="left: 127.98px; top: 85.65px;"></div><!-- a droite -->
            <div class="blob" style="left: 95.57px; top: 48.45px;"></div><!-- en haut-->
            <div class="blob" style="left: 62.90px; top: 84.62px;"></div><!-- a gauche -->
            <div class="blob" style="left: 112.11px; top: 67.39px;"></div><!-- en haut, a droite-->
            <div class="blob" style="left: 78.65px; top: 66.33px;"></div><!-- en haut, a gauche-->
            <div class="blob" style="left: 112.11px; top: 104.59px;"></div><!-- en bas, a droite-->
            <div class="blob" style="left: 78.65px; top: 104.59px;"></div><!-- en bas, a gauche-->
            <h class="vertical-center" style="left: 167px">ACCORD<br>ENERGIE</h>
            <div class="vertical-center separation"></div>
            <h class="vertical-center" style="left: 350px; color: lightgrey; font-size: 48px; font-family: Jost; font-weight: 500;">Affectation</h>
          </div>
      </header><br><br><br><br>

      <section style="margin: 50px;">
        <div class="row affect" style="left: 65px; top: 191px;">
          <div class="col-md-6" style="top: 30px; left: 30px;">
            <p class="texteAjout">Nom:</p>
          </div>
          <div class="col-md-6" style="top: 30px">
            <form>
            <fieldset class="texteAjout">
              <legend class="texteAjout">Rôle:</legend>
              <div>
                <input type="radio" id="1" name="role" value="client" />
                <label for="1">Client</label>

                <input type="radio" id="2" name="role" value="intervenant" />
                <label for="2">Intervenant</label>

                <input type="radio" id="3" name="role" value="standardiste" />
                <label for="3">Standardiste</label>

                <input type="radio" id="4" name="role" value="admin" />
                <label for="4">Admin</label>
              </div>
              <div>
                <button type="submit" class="bP" style="top: 95px; width: 348px; height: 42px; position:absolute; padding-left: 18px;">Modifier</button>
              </div>
              
            </fieldset>
          </form>
          </div>
        </div>
      </section>
  </div>
</body>
{% endblock %}
