{% extends "base_auth.html.twig" %}
{% block title %}
	<div class="overlay">
	    <header>
	        <!--logo-->
	        <div style="width: 180px; height: 180px; position: relative; border-radius: 30px;">
	          <div class="blob" style="left: 95.57px; top: 85.65px;"></div><!-- milieu-->
	          <div class="blob" style="left: 95.55px; top: 122.36px;"></div><!-- en bas-->
	          <div class="blob" style="left: 127.98px; top: 85.65px;"></div><!-- a droite -->
	          <div class="blob" style="left: 95.57px; top: 48.45px;"></div><!-- en haut-->
	          <div class="blob" style="left: 62.90px; top: 84.62px;"></div><!-- a gauche -->
	          <div class="blob" style="left: 112.11px; top: 67.39px;"></div><!-- en haut, a droite-->
	          <div class="blob" style="left: 78.65px; top: 66.33px;"></div><!-- en haut, a gauche-->
	          <div class="blob" style="left: 112.11px; top: 104.59px;"></div><!-- en bas, a droite-->
	          <div class="blob" style="left: 78.65px; top: 104.59px;"></div><!-- en bas, a gauche-->
	          <h class="vertical-center" style="left: 167px">ACCORD<br>ENERGIE</h>
	          <div class="vertical-center separation"></div>
	          <h class="vertical-center" style="left: 350px; color: lightgrey; font-size: 48px; font-family: Jost; font-weight: 500;">Ajout Intervention</h>
	        </div>
	    </header><br><br><br><br>

	    <section style="padding: 50px;">
	    	<div class="blockEnregistrement3">
	    		<p class="texteAjout" style="left: 117px; top: 239px;">Nom:</p>
	    		<input type="text" id="nom" name="nom" class="blockEntree2_1" style="left: 218px; top: 222px;">
	    		<p class="texteAjout" style="left: 716px; top: 237px;">Email:</p>
	    		<input type="text" id="email" name="email" class="blockEntree2_1" style="left: 846px; top: 222px;">
	    		<p class="texteAjout" style="left: 117px;top: 316px;">Adresse:</p>
	    		<input type="text" id="adresse" name="adresse" class="blockEntree2_1" style="left: 218px; top: 301px;">
	    		<p class="texteAjout" style="left: 716px; top: 316px;">Date:</p>
	    		<input type="date" id="date" name="date" class="blockEntree2_1" style="left: 846px; top: 301px;">
	    		<p class="texteAjout" style="left: 716px; top: 388px;">Heure:</p>
	    		<input type="Heure" id="heure" name="heure" class="blockEntree2_1" style="left: 846px; top: 380px;">
	    		<p class="texteAjout" style="left: 117px; top: 467px;">Type <br/>d’intervention: </p>
				<input type="text" id="typedintervention" name="typedintervention" class="blockEntree2_2" style="width: 991px; height: 58px; left: 292px; top: 467px;">
	    		<p class="texteAjout" style="left: 117px; top: 554px;">Détails:</p>
	    		<input type="text" id="details" name="details" class="blockEntree2_2" style="width: 991px; height: 201px; left: 292px; top: 546px;">
	    		<p class="texteAjout" style="left: 117px; top: 784px;">Intervenants:</p>
	    		<input type="text" id="intervenants" name="intervenants" class="blockEntree2_2" style="width: 716px; height: 88px; left: 292px; top: 768px;">
	    		<center><button class="bP" style="width: 348px; height: 42px;top:670px;position:relative;">Ajouter</button></center>
	    	</div>
	    </section>
	</div>
{% endblock %}
