{% extends "base_auth.html.twig" %}

{% block title %}
	<div class="overlay">
		<header>
			<!--logo-->
			<div style="width: 180px; height: 180px; position: relative; border-radius: 30px;">
				<div class="blob" style="left: 95.57px; top: 85.65px;"></div><!-- milieu-->
				<div class="blob" style="left: 95.55px; top: 122.36px;"></div><!-- en bas-->
				<div class="blob" style="left: 127.98px; top: 85.65px;"></div><!-- a droite -->
				<div class="blob" style="left: 95.57px; top: 48.45px;"></div><!-- en haut-->
				<div class="blob" style="left: 62.90px; top: 84.62px;"></div><!-- a gauche -->
				<div class="blob" style="left: 112.11px; top: 67.39px;"></div><!-- en haut, a droite-->
				<div class="blob" style="left: 78.65px; top: 66.33px;"></div><!-- en haut, a gauche-->
				<div class="blob" style="left: 112.11px; top: 104.59px;"></div><!-- en bas, a droite-->
				<div class="blob" style="left: 78.65px; top: 104.59px;"></div><!-- en bas, a gauche-->
			</div>
		</header>
		<div class="blockEnregistrement2 blockPosition2">
	  		<div class="blockContenu2"><br><br>
	  			<div class="blockTitre">Se Connecter</div><br>
	  			<div class="blockP">E-mail</div>
			  	<div class="blockEntree"></div><br><br>
	  			<div class="blockP">Mot de passe</div>
			  	<div class="blockEntree"></div><br><br>
			  	<center><button class="bP">Valider</button></center><br><br>
			  	<div class="blockP" style="text-align: center;">Vous n’avez pas de compte ?</div>
	  		</div>
	  	</div>
	  	<div class="jingle">Travaillons ensemble pour  un futur  radieux </div>
		<div class="nomPosition">
  			<div class=" nom" style="left: 0px; top: 300.03px;transform: rotate(-44.22deg);">A</div>
  			<div class="nom" style="left: 39px; top: 223.35px;transform: rotate(-33.20deg);">C</div>
  			<div class="nom" style="left: 111px; top: 163.55px; transform: rotate(-22.72deg);">C</div>
  			<div class="nom" style="left: 193px; top: 126.51px;transform: rotate(-11.27deg);">O</div>
  			<div class="nom" style="left: 277px; top: 107.61px;transform: rotate(0.37deg);">R</div>
  			<div class="nom" style="left: 372px; top: 105.67px;transform: rotate(11.48deg);">D</div>
  			<div class="nom" style="left: 472px; top: 134.14px;transform: rotate(25.94deg);">E</div>
  			<div class="nom" style="left: 523px; top: 158.76px;transform: rotate(36.86deg);">N</div>
  			<div class="nom" style="left: 571px; top: 219.83px;transform: rotate(47.85deg);">E</div>
  			<div class="nom" style="left: 602px; top: 278.03px;transform: rotate(58.21deg);">R</div>
  			<div class="nom" style="left: 625px; top: 351.57px;transform: rotate(69.59deg);">G</div>
  			<div class="nom" style="left: 637px; top: 415.83px;transform: rotate(77.72deg);">I</div>
  			<div class="nom" style="left: 627px; top: 470.67px;transform: rotate(84.97deg);">E</div>
		</div>
	</div>
{% endblock %}
