{% extends "base_auth.html.twig" %}

{% block title %}
	<div class="overlay">
		<header>
					<!--logo-->
					<div style="width: 180px; height: 180px; position: relative; border-radius: 30px;">
					  <div class="blob" style="left: 95.57px; top: 85.65px;"></div><!-- milieu-->
					  <div class="blob" style="left: 95.55px; top: 122.36px;"></div><!-- en bas-->
					  <div class="blob" style="left: 127.98px; top: 85.65px;"></div><!-- a droite -->
					  <div class="blob" style="left: 95.57px; top: 48.45px;"></div><!-- en haut-->
					  <div class="blob" style="left: 62.90px; top: 84.62px;"></div><!-- a gauche -->
					  <div class="blob" style="left: 112.11px; top: 67.39px;"></div><!-- en haut, a droite-->
					  <div class="blob" style="left: 78.65px; top: 66.33px;"></div><!-- en haut, a gauche-->
					  <div class="blob" style="left: 112.11px; top: 104.59px;"></div><!-- en bas, a droite-->
					  <div class="blob" style="left: 78.65px; top: 104.59px;"></div><!-- en bas, a gauche-->
						<h class="vertical-center" style="left: 167px">ACCORD<br>ENERGIE</h>
				</div>
		</header>
	  <div class="blockEnregistrement blockPosition">
	  	<form action="" method="post" class="blockContenu">
	  			<div class="blockTitre">S’inscrire</div><br>
			  	<div class="blockP">E-mail</div>
			  	<input type="email" name="email" id="email" required="required" div class="blockEntree"><br><br><br>
			  	<div class="blockP">Mot de passe</div>
			  	<input type="password" name="password" id="password" required="required" class="blockEntree"><br><br><br>
			  	<div class="blockP">Confirmer le mot de passe</div>
			  	<input type="password" name="confirmPassword" id="confirmPassword" required="required" class="blockEntree"><br><br>
			  	<center><input type="submit" name="send" value="envoyer" class="bP"></center>

				<a href="index.php">Déjà un compte 	
		</div>
	  </div>
	</div>

{% endblock %}
