{% extends "base_auth.html.twig" %}


{% block title %}
    <!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="AccordEnergie.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reem Kufi&family=Jost:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<title>Register</title>
</head>
<body style="width: 100%;">
	<div class="overlay">
		<header>
					<!--logo-->
					<div style="width: 180px; height: 180px; position: relative; border-radius: 30px;">
					  <div class="blob" style="left: 95.57px; top: 85.65px;"></div><!-- milieu-->
					  <div class="blob" style="left: 95.55px; top: 122.36px;"></div><!-- en bas-->
					  <div class="blob" style="left: 127.98px; top: 85.65px;"></div><!-- a droite -->
					  <div class="blob" style="left: 95.57px; top: 48.45px;"></div><!-- en haut-->
					  <div class="blob" style="left: 62.90px; top: 84.62px;"></div><!-- a gauche -->
					  <div class="blob" style="left: 112.11px; top: 67.39px;"></div><!-- en haut, a droite-->
					  <div class="blob" style="left: 78.65px; top: 66.33px;"></div><!-- en haut, a gauche-->
					  <div class="blob" style="left: 112.11px; top: 104.59px;"></div><!-- en bas, a droite-->
					  <div class="blob" style="left: 78.65px; top: 104.59px;"></div><!-- en bas, a gauche-->
						<h class="vertical-center" style="left: 167px">ACCORD<br>ENERGIE</h>
				</div>
		</header>
	  <div class="blockEnregistrement blockPosition">
	  	<div class="blockContenu">
	  			<div class="blockTitre">S’inscrire</div><br>
			  	<div class="blockP">E-mail</div>
			  	<div class="blockEntree"></div><br><br><br>
			  	<div class="blockP">Mot de passe</div>
			  	<div class="blockEntree"></div><br><br><br>
			  	<div class="blockP">Confirmer le mot de passe</div>
			  	<div class="blockEntree"></div><br><br>
			  	<center><button class="bP">Valider</button></center>
	  	</div>
	  </div>
	</div>
</body>
</html>

{% endblock %}
